cs50
Flask
Flask-Session
requests


Configuring
Before getting started on this assignment, we’ll need to register for an API key in order to be able to query IEX’s data. To do so, follow these steps:

Visit iexcloud.io/cloud-login#/register/.
Enter your email address and a password, and click “Create account”.
On the next page, scroll down to choose the Start (free) plan.
Once you’ve confirmed your account via a confirmation email, sign in to iexcloud.io.
Click API Tokens.
Copy the key that appears under the Token column (it should begin with pk_).
In a terminal window within CS50 IDE, execute:

$ export API_KEY=value

